app/Win32/Debug/pe5000.exe
app/Android/Release/AndroidManifest.xml
app/Android/Release/classes.dex
app/Android/Release/colors.xml
app/Android/Release/frmEstatisticas.dcu
app/Android/Release/frmEstatisticas.o
app/Android/Release/frmInformacao.dcu
app/Android/Release/frmInformacao.o
app/Android/Release/frmLogin.dcu
app/Android/Release/frmLogin.o
app/Android/Release/frmQuiz.dcu
app/Android/Release/frmQuiz.o
app/Android/Release/libpe5000.so
app/Android/Release/pe5000.o
app/Android/Release/splash_image_def.xml
app/Android/Release/strings.xml
app/Android/Release/styles.xml
app/Android/Release/styles-v21.xml
app/Android/Release/uBiblioteca.dcu
app/Android/Release/uBiblioteca.o
app/Android/Release/uDMConexao.dcu
app/Android/Release/uDMConexao.o
app/Android/Release/pe5000/AndroidManifest.xml
app/Android/Release/pe5000/assets/deployinfo/deployedassets.txt
app/Android/Release/pe5000/assets/internal/pe5000.db
app/Android/Release/pe5000/bin/pe5000.apk
app/Android/Release/pe5000/classes/classes.dex
app/Android/Release/pe5000/debug/libpe5000.so
app/Android/Release/pe5000/library/lib/armeabi/libpe5000.so
app/Android/Release/pe5000/library/lib/armeabi-v7a/gdbserver
app/Android/Release/pe5000/library/lib/armeabi-v7a/libpe5000.so
app/Android/Release/pe5000/library/lib/mips/libpe5000.so
app/Android/Release/pe5000/res/drawable/splash_image_def.xml
app/Android/Release/pe5000/res/drawable-hdpi/ic_launcher.png
app/Android/Release/pe5000/res/drawable-hdpi/ic_notification.png
app/Android/Release/pe5000/res/drawable-large/splash_image.png
app/Android/Release/pe5000/res/drawable-ldpi/ic_launcher.png
app/Android/Release/pe5000/res/drawable-mdpi/ic_launcher.png
app/Android/Release/pe5000/res/drawable-mdpi/ic_notification.png
app/Android/Release/pe5000/res/drawable-normal/splash_image.png
app/Android/Release/pe5000/res/drawable-small/splash_image.png
app/Android/Release/pe5000/res/drawable-xhdpi/ic_launcher.png
app/Android/Release/pe5000/res/drawable-xhdpi/ic_notification.png
app/Android/Release/pe5000/res/drawable-xlarge/splash_image.png
app/Android/Release/pe5000/res/drawable-xxhdpi/ic_launcher.png
app/Android/Release/pe5000/res/drawable-xxhdpi/ic_notification.png
app/Android/Release/pe5000/res/drawable-xxxhdpi/ic_notification.png
app/Android/Release/pe5000/res/values/colors.xml
app/Android/Release/pe5000/res/values/strings.xml
app/Android/Release/pe5000/res/values/styles.xml
app/Android/Release/pe5000/res/values-v21/styles.xml
app/Android64/
app/Android/Release/frmEntrada.dcu
